/* Regular */
@font-face {
  font-family: "Archivo SemiExpanded";
  src: url("./Archivo_SemiExpanded-Regular.woff2") format("woff2"),
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/MyFont-Medium.woff2") format("woff2"),
       url("./fonts/MyFont-Medium.woff") format("woff"),
       url("./fonts/MyFont-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/MyFont-Bold.woff2") format("woff2"),
       url("./fonts/MyFont-Bold.woff") format("woff"),
       url("./fonts/MyFont-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
