/* Regular */
@font-face {
  font-family: "Archivo SemiExpanded";
  src: url("./Archivo_SemiExpanded-Regular.woff2") format("woff2"),
  font-weight: 400 !important;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Archivo SemiExpanded";
  src: url("./Archivo_SemiExpanded-Medium.woff2") format("woff2"),
  font-weight: 500 !important;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Archivo SemiExpanded";
  src: url("./Archivo_SemiExpanded-Bold.woff2") format("woff2"),
  font-weight: 700 !important;
  font-style: normal;
}
